html {
    font-family: Arial, Helvetica, sans-serif;
}

/*Designed first as a 375px Phone*/
body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 3px;
}

/*Background for entire application*/
section{
    background-image: url(../images/background.png);
    height: 42rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*header image*/
#head>img {
    width: 23rem;
    height: 6rem;
}

/*container shown when user navigates to application*/
#onload {
    height: 48rem;
    display: grid;
    grid-template-columns: 100%;
}

/*Welcome text*/
#welcome {
    text-align: center;
}

/*container to hold the entire game*/
#game {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 25% 25%;
    height: 42rem;
    grid-template-areas:
        "imageQuestion"
        "answers"
        "sidebar"
    ;
}

/*container that holds the question*/
#imageQuestion {
    grid-area: imageQuestion;
    margin-top: 1rem;
}

/*image displayed within question area*/
#imageQuestion>img {
    height: 23rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*container for LifeLines*/
#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    text-align: center;
}

/*container for answer buttons*/
#answers {
    grid-area: answers;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    
}

/*container for lifelines section*/
#lifelines {
    background-color: #9fe3b1;
    font-size: 1.5rem;
    width: 100%;
}

/*Answer buttons in quiz*/
.answbtn {
    display: inline-block;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #9fe3b1;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    margin-top:3.5rem;
    height:2rem;
}

/*answer button when hovered over*/
.answbtn:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #000000;
    border-color: #32b459;
}

/*Container for Help features*/
#help{
    text-align: center;
}

/*buttons displayed in the lifelines container*/
#help>button {
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #32b459;
    text-align: center;
    transition: all 0.15s;
    padding: 10px;
}

/*Buttons displayed on the home screen*/
#onload>button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

/*button that links to instructions pop up*/
#instructionbtn {
    width: 100%;
    height: 6rem;
    display: inline-block;
    border: 0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
}

/*Button for starting the quiz*/
#startQuiz {
    width: 100%;
    height: 6rem;
    display: inline-block;
    border: 0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
}

/*container holding reset button*/
#reset {
    height: 650px;
}

/*button to reset game*/
#home {
    width: 100%;
    height: 6rem;
    display: inline-block;
    border: 0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 24rem;
}

/*container shown at end of quiz*/
#end {
    font-size: 1.5rem;
    text-align: center;
}

/*footer*/
footer {
    text-align: center;
}

/*desktop*/
@media only screen and (min-width:1351px) {
    #head>img {
        margin-left: 26rem;
        height: 8rem;
        width: 50rem;
    }
    #section{
        width:89.5rem;
    }
}

/*larger laptop up to 1350px*/
@media only screen and (min-width:1101px) and (max-width:1350px) {
    #head>img {
        width: 50rem;
        height: 8rem;
        margin-left: 15rem;
    }
}

/*normal laptop 1000px*/
@media only screen and (min-width:950px) and (max-width:1100px) {
    #head>img {
        width: 50rem;
        height: 8rem;
        margin-left: 12rem;
    }
    #section{
        width:70rem;
    }
}

/*Tablet etc*/
@media only screen and (min-width:600px) and (max-width:949px) {
    #head>img {
        width: 47rem;
        height: 8rem;

    }
}
/*small Mobile phone 340px and below*/
@media only screen and (max-width:340px) {
    #head>img {
        width: 19rem;
        height: 4rem;
    }
    #onload {
        height: 450px;
    }
}