html{
    font-family: Arial, Helvetica, sans-serif;
    
    
}
/*Mobile first 375px*/
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    
  
  }
#background{
    background-image: url(../img/Background.png);

  
    

  height:42rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#head>img{
    width:-webkit-fill-available;
    height:6rem;
}
#onload{
    height:650px;
    display:grid;
    grid-template-columns: 100%;
    
   
}
#game{
    
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%,25%,25%;
    height:650px;
   
   
    
    grid-template-areas: 
    "imageQuestion"
    "answers"
    "sidebar"
    
    ;

    

}

#imageQuestion{
    grid-area: imageQuestion;
    margin-top:20px;
    
    
}
#imageQuestion>img{
    height:350px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#sidebar{
    grid-area: sidebar;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    text-align: center;
    
}


#answers{
    grid-area: answers;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    grid-area: 
    "1 2"
    "3 4";
}

#lifelines{
    background-color: #9fe3b1;
    font-size: 1.5rem;
    width:100%;
}
#score{
    margin-top:30px;
}



.answbtn{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
text-transform: uppercase;
background-color: #9fe3b1;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
    }
.answbtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#000000;
    border-color:#32b459;
        }   

#help>button{
    
    
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#32b459;
    text-align:center;
    transition: all 0.15s;
    padding:10px;
    }
#onload>button{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
#onload>button:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    }
#onload>button:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }
#instructionbtn{
    width:100%;
    height:110px;
    display:inline-block;
    
    border:0.16em solid #FFFFFF;
    
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:black;
    text-align:center;
    font-size:20px;
    
    
    

}
#startQuiz{
    width:100%;
    height:110px;
    display:inline-block;
    
    border:0.16em solid #FFFFFF;
    
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:black;
    text-align:center;
    font-size:20px;
    
}
#reset{
    height:650px;

}

#home{
    width:100%;
    height:110px;
    display:inline-block;
    
    border:0.16em solid #FFFFFF;
    
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:black;
    text-align:center;
    font-size:20px; 
    margin-top: 400px;
}
/*larger laptop1440px*/
@media only screen and (min-width:1101px) and (max-width:1700px){
    #head>img{
        width:50rem;
        height:8rem;
        margin-left:20rem;
    }
    
}
/*normal laptop 1000px*/
@media only screen and (min-width:950px) and (max-width:1100px){
    #head>img{
        width:50rem;
        height:8rem;
        margin-left:6rem;
    }
    
}
@media only screen and (min-width:600px) and (max-width:949px){
    #head>img{
        width:47rem;
        height:8rem;
        
    }
    
}